#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.display{
 overflow-y: scroll;
 width: 300px;
 height: 80vh;
 margin: auto;
}

.popup{
 /* height: 150px; */
 width: 200px;
 border: 2px solid black;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 background-color: white;
}

.item{
 display: flex;
 border: 2px solid gray;
 width: 240px;
 margin-inline: auto;
 margin-block: 5px;
 align-items: center;
}

.item span.stock{
 margin-right: 5px;
 border-right: 2px solid gray;
 padding: 4px;
 width: 30px;
}

.item span.alert{
 background-color: rgba(255, 99, 71, 0.719);
}

.item button.add{
 margin-left: auto;
 margin-right: 10px;
 height: 24px;
 width: 24px;
 border: none;
 color: white;
 font-size: 20px;
 font-weight:400;
 background-color: rgb(54, 224, 2);
}

.item button.add:hover{
  background-color: rgb(46, 187, 3);
}

.item:hover{
 background-color: rgb(179, 179, 179);
}

.item p.title:hover{
 color: white;
}

.add_btn{
 text-decoration: none;
 font-size: 18px;
 color: white;
 background-color: rgb(65, 228, 0);
 border: none;
 padding: 5px 10px;
 border-radius: 3px;
}

.add_med--form{
 display: flex;
 flex-direction: column;
 align-items: center;
 border: 2px solid gray;
 padding: 10px;
 border-radius: 5px;
 width: 300px;
 margin: auto;
}

.btn.red{
 color: white;
 background-color: tomato;
 margin-left: 5px;
 border: 2px solid tomato;
}